
.vs/sudoku/v15/.suo
.vs/sudoku/v15/Browse.VC.db
.vs/sudoku/v15/Browse.VC.opendb
.vs/sudoku/v15/ipch/AutoPCH/b44e499431f7cb94/PARSER.ipch
.vs/sudoku/v15/ipch/AutoPCH/b473ab9432178e57/PARSER.ipch
sudoku.sln
sudoku/sudoku.vcxproj
sudoku/sudoku.vcxproj.filters
sudoku/sudoku.vcxproj.user
*.tlog
*.exe
*.ilk
*.obj
*.log
*.pdb
*.idb
*.ipch